body {
    background-image: url("../background1.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.planet {
    position: fixed;
    transform: translate(-50%,-50%);
    top:50%;
    left: 24%;
    height: 50vmin;
    z-index: 12;
}
.ghost {
    font-size: 8vw;
    transform: translateX(-50%);
}
#description {
    position: absolute;
    background-color: rgba(41, 41, 41, 0.616);
    right: 12%;
    width: 40%;
    top:0;
    transition: opacity 2s;
    display: block;
    padding-bottom: calc(8vh + 8vw);
}
#fadeout {
    position: fixed;
    height: 20vh;
    right: 12%;
    width: 40%;
    top:0;
    background-image: linear-gradient(black 0%, rgba(0, 0, 0, 0.904) 20%, rgba(0, 0, 0, 0.795) 50%,rgba(0, 0, 0, 0) 100%);
    z-index: 13;
}
.content {
    position: relative;
    top: calc(7vh + 6vw);
    color: white;
    font-size: 150%;
    height: auto;
    display: block;
    padding: 5%;
}
.content p {
    text-indent: 3%;
    text-align: justify;
    position: relative;
    display: block;
}
.content table {
    position: relative;
    display: block;
    float: right;
    margin:1.2vw;
    background-color: rgba(0, 0, 0, 0.63);
    transform: translateY(5%);
    border-radius: 10px;
    padding: 1%;
}
.val {
    text-align: end;
    width: 150px;
}
th {
    border-width: 10px;
}
h1 {
    font-family: 'Varino', sans-serif;
    font-size: 4vw;
    color: white;
    position: fixed;
    right:12%;
    width:40%;
    top:1vh;
    text-align: center;
    z-index: 20;
    animation: shadow 5s infinite;
    transform: none;
}
.nav:hover ~ div#description {
    opacity: 0.3;
    transition: 2s;
}
span.top {
    width: 100%;
    text-align: center;
    font-family: 'Varino', sans-serif;
    font-size: 200%;
    color: white;
}
span.top a {
    position: relative;
    writing-mode:vertical-lr;
    left:50%;
    transform: translateX(-50%);
    animation: hoppingv 2s infinite ease-in-out;
}
span.top a:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
@media only screen and (max-width: 999px) {
    .pl {
        width: 100%;
    }
    .planet {
        position: absolute;
        transform: translate(-50%,-50%) scale(0.5);
        top:20%;
        left: 75%;
        height: 45vmin;
        z-index: 12;
    }
    #description {
        position: absolute;
        background-color: rgba(41, 41, 41, 0);
        right: 5%;
        width: 90%;
        top:0;
        transition: 2s;
    }
    #filler {
        height: calc(50px + calc(30vh - 10vw));;
    }
    div .content {
        position: absolute;
        top: 0;
        display: inline-block;
        padding: 5%;
        background-color: rgba(41, 41, 41, 0.616);
    }
    h1 {
        font-family: 'Varino', sans-serif;
        font-size: 6vw;
        color: white;
        position: absolute;
        left:15%;
        width:40%;
        top:calc(calc(15vh - 5vw) + 5%);
        transform: translate(calc(15vw - 40%),-50%);
        text-align: center;
        z-index: 20;
        animation: shadow 5s infinite;
    }
    #fadeout {
        position: absolute;
        height: 20vh;
        right: 5%;
        width: 90%;
        top:0;
        background-image: linear-gradient(black 0%, rgba(0, 0, 0, 0.904) 20%, rgba(0, 0, 0, 0.795) 50%,rgba(0, 0, 0, 0) 100%);
        z-index: 6;
    }
}
@media only screen and (min-width: 1000px) and (max-width:1300px) and (min-height: 500px) {
    .content table {
        position: fixed;
        left: 22%;
        top:75%;
        transform: translate(-50%,-50%);
    }
    .planet {
        top:35%;
    }
}
@media only screen and (max-width: 600px) {
    .content table {
        font-size: 80%;;
    }
    .val {
        width: 100px;
    }
}
@media only screen and (min-width: 1000px) and (max-width:1300px) and (max-height: 499px) {
    .content table {
        position: fixed;
        top:50%;
        transform: translate(-50%,-50%);
        font-size: 80%;
        left: 13%;
    }
    .planet {
        position: fixed;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 38%;
    }
}